body {
    background: #607d8b;
    color: white;
    font-family: 'Raleway', sans-serif;
  }

  #cabecera {
    height: 100px;
    text-align: center;
  }

  h1 {
    font-size: 2.5em;
  }

  .editor-full{
    width: 95%;
    position: absolute;
    margin-top: 100px;
    margin-bottom: 120px;
    top: 0;
    bottom: 0;
    
    margin-left: 2%;
    border-radius: 20px;

    float: left;
  }

  .editor{
    width: 45%;
    position: absolute;
    margin-top: 100px;
    margin-bottom: 120px;
    top: 0;
    bottom: 0;
    left: 0;
    margin-left: 2%;
    border-radius: 15px;

    float: left;
  }

  .xterm-viewport{
    border-radius: 15px;
  }

  .xterm-screen{
    border-radius: 15px;
  }

  .xterm-text-layer{
    border-radius: 15px;
  }

  .xterm-cursor-layer{
    border-radius: 15px;

  }

  #footerEditor{
    position: absolute;
    width: 43%;
    height: 80px;
    color: white;
    text-align: center;
    bottom: 0;
    left: 0;
    margin-left: 2%;
    margin-bottom: 25px;
    font-style: bold;
  }

  #terminal{
    width: 45%;
    position: relative;
    margin-right: 5%;
    float: right;

    visibility: hidden;
  }

  #footerTerminal {
    position: absolute;
    width: 43%;
    height: 80px;
    color: white;
    text-align: center;
    bottom: 0;
    right: 0;
    margin-right: 2%;
    font-style: bold;
  }

  label {
    margin-left: 5%;
  }

  input {
    background-color: #607d8b;
    border-radius: 50px;
    color: white;
  }