body {
    background: #607d8b;
    color: white;
    font-family: 'Raleway', sans-serif;
  }

  #cabecera {
    height: 100px;
    text-align: center;
  }

  h1 {
    font-size: 2.5em;
  }

  #editor {
    position: absolute;
    margin-top: 100px;
    margin-bottom: 120px;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin-left: 10%;
    margin-right: 10%;
    border-radius: 20px;
  }

  #footer {
    position: absolute;
    height: 80px;
    color: white;
    text-align: center;
    bottom: 0;
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 25px;
    font-style: bold;
  }

  p {
    margin-left: 50px;
  }

  label {
    margin-left: 5%;
  }

  input {
    background-color: #607d8b;
    border-radius: 50px;
    color: white;
  }